<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= opt.title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/student/css/bootstrap.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="/student/css/all.css">
    
    <style>
        /* Custom CSS for layout adjustments */
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <!-- Form for updating data -->
        <div class="col-md-6">
            <h3>Update DATA</h3>
            <form method="post" action="/student/update/<%= data.id %>">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" class="form-control" id="age" name="age" value="<%= data.age %>">
                </div>
                <div class="form-group">
                    <label for="fees">Fees:</label>
                    <input type="text" class="form-control" id="fees" name="fees" value="<%= data.fees %>">
                </div>
                <br>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>

            <form action="/student" method="get">
                <button type="submit" class="btn btn-primary">Go back to home</button>
            </form>
        </div>
        
    </div>
</div>

<!-- Bootstrap JS (optional, if you need JavaScript functionality) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="student/js/bootstrap.js"></script>
<script src="student/js/all.js"></script>
</body>
</html>
